In [3]:
import zipfile
import pandas as pd
from io import BytesIO
from IPython.display import display

zip_path= r"C:\Users\Admin\Downloads\data-engineering-practice\Exercises\Exercise-7\data\hard-drive-2022-01-01-failures.csv.zip"
with zipfile.ZipFile(zip_path,'r') as zip_ref:
    result=zip_ref.read('hard-drive-2022-01-01-failures.csv')
    df=pd.read_csv(BytesIO(result))
    display(df.head())
    display(pd.DataFrame(
        {
            'columns': df.columns,
            'dtypes': df.dtypes,
            'null_counts': df.isnull().sum(),
            
        }
    ))

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2022-01-01,ZLW18P9K,ST14000NM001G,14000519643136,0,73.0,20467240.0,NaN,NaN,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-01-01,ZLW0EGC7,ST12000NM001G,12000138625024,0,84.0,228715872.0,NaN,NaN,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-01-01,ZA1FLE1P,ST8000NM0055,8001563222016,0,82.0,157857120.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-01,ZA16NQJR,ST8000NM0055,8001563222016,0,84.0,234265456.0,NaN,NaN,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-01-01,1050A084F97G,TOSHIBA MG07ACA14TA,14000519643136,0,100.0,0.0,100.0,0.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

                                   columns   dtypes  null_counts
date                                  date   object            0
serial_number                serial_number   object            0
model                                model   object            0
capacity_bytes              capacity_bytes    int64            0
failure                            failure    int64            0
...                                    ...      ...          ...
smart_252_raw                smart_252_raw  float64       206954
smart_254_normalized  smart_254_normalized  float64       206680
smart_254_raw                smart_254_raw  float64       206680
smart_255_normalized  smart_255_normalized  float64       206954
smart_255_raw                smart_255_raw  float64       206954

[179 rows x 3 columns]